---
import Layout from '../layouts/Layout.astro'
import { getCollection } from "astro:content";
//const allPosts = await Astro.glob('../pages/posts/*.md');
console.log('bb')
const allPosts = await getCollection("posts");
console.log(allPosts)
const pageTitle = "My Astro Learning Blog";
---
<Layout title={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
   {allPosts.map((post)=><li><a href={`/posts/${post.slug}/`}>{post.data.title}</a></li>)}
  </ul>
</Layout>