---
  import Greeting from "../../components/Greeting";
  
  const page=Astro.url.searchParams.get("page")
  export const partial = true;  

---
<div>my :{page}</div>
{page =="1" ? <Greeting client:load messages={["1","2","3"]}></Greeting>:<div></div>}

