---
import Navigation  from "./Navigation.astro";
---

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

<Navigation>
</Navigation>